<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookServiceSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.example.org/BookService" binding="basicHttpBinding" bindingConfiguration="BookServiceSOAP" contract="Zoo.Infrastructure.BookService.BookService" name="BookServiceSOAP" />
        </client>
    </system.serviceModel>
</configuration>